<nav className="ui inverted menu">
  <header className="ui header item"><a href="/"> Weather Top JS Edition </a></header>
  <div className="right menu">
    <a id="signup" className="item" href="/signup"> Signup </a>
    <a id="login" className="item" href="/login"> Login </a>
  </div>
</nav>

<script>
  $("#{{ id }}").addClass("active item");
</script>