{{> menu id="about"}}

<section class="ui middle aligned segment">
  <h1 class="ui primary center aligned header">About Weather Top JS Edition</h1>
  <img class="ui centered image" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.pinimg.com%2Foriginals%2Ff9%2Fd0%2F7e%2Ff9d07e422dcf5e95b27b99eb18caeae9.png&f=1&nofb=1">
  <h4>
    Weather Top JS Edition
    <li>Owners of a consumer level weather station purchase and install a weather station kit.</li>
    <li>Periodically members submit weather reports from their station to a web site, capturing readings from the station at a specific time.</li>
    <li>The application displays weather analytics for the station.</li>
    <li>The owner may own multiple stations.</li>
  </h4>
</section>