{{> welcomemenu }}

<section class="ui center aligned middle aligned inverted segment">
  <h1 class="ui header">
    Welcome to Weather Top JS Edition
  </h1>
  <img class="ui large centered image" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2F2ecffd01e1ab3e9383f0-07db7b9624bbdf022e3b5395236d5cf8.ssl.cf4.rackcdn.com%2FProduct-800x800%2F4cb6a4b7-8016-4357-9a49-730134c56f7b.jpg&f=1&nofb=1">
  <h3>
    This is control system for your weather readings
  </h3>
</section>